.ta-editor {
    border-radius: 4px;
    min-height: 100px;
    height: 200px;
    overflow: auto;
    resize: both;
    font-family: inherit;
    font-size: 100%;
}

.ta-toolbar .btn {
    border-radius : 5px;
    padding : 5px;
    min-width : 30px;
    background-color : #fff;
    color : #333;
}
[text-angular] {
    position : relative;
}
.ta-toolbar {
    position : absolute ;
    top : 0;
    right : 18px;
}
@media all and (max-width: 699px) {
    .ta-toolbar { position : absolute; }
    .ta-editor { padding-top : 30px; }
}

@media all and (max-width: 250px) {
    .ta-toolbar { display : none; }
}
.ta-toolbar .btn-group {
    margin : 0!important;
//box-shadow : 0 1px 3px rgba(0,0,0,0.2);
}
.ta-editor {
    border :1px solid #ccc;
    border-raidus : 3px!important;
}